body {
    margin: 0;
    background-color: aliceblue;
    text-align: center;
    font-family: monospace;
}

header {
    margin: 2rem 0;
}

#tetris-game-canvas,
#next-figure-canvas,
#statistics,
#next-figure {
    display: inline-block;
    vertical-align: top;
    margin-top: 1rem;
}
#tetris-game-canvas,
#statistics {
    margin-right: 1rem;
}


#statistics {
    width: 171px;
    height: 2rem;
    text-align: left;
}

#next-figure {
    width: 103px;
    height: 2rem;
    text-align: left;
}
